<div class="log-history-list">
  <div class="log-history-card" *ngFor="let log of logHistory">
    <div class="log-avatar">
      <img *ngIf="log.userAvatar; else defaultAvatar" [src]="log.userAvatar" alt="avatar" />
      <ng-template #defaultAvatar>
        <div class="default-avatar">
          <mat-icon>account_circle</mat-icon>
        </div>
      </ng-template>
    </div>
    <div class="log-content">
      <div class="log-name">{{ log.user_name }}</div>
      <div class="log-message">{{ log.change_details }}</div>
    </div>
    <span class="log-status" [ngClass]="log.change_type.toLowerCase()">{{ log.change_type }}</span>
    <div class="log-date">
      <span>{{log.created_at | date: 'd MMM y, h:mm a'}}</span>
    </div>
  </div>
</div>
