<div class="station-card" [class.selected]="selected" (click)="onCardClick()">
  <div
    class="station-card-status"
    [ngClass]="{
      'available': station.is_active && station.status === 'Available',
      'in-use': station.is_active && station.status === 'InUse',
      'unavailable': !station.is_active || station.status === 'Unavailable'
    }"
  >
    {{ !station.is_active ? 'Disabled' : (station.status === 'Available' ? 'Available' : (station.status === 'InUse' ? 'In Use' : 'Unavailable')) }}
  </div>
  <div class="station-card-image">
    <img [src]="station.image || '/megaplug/ev-station-placeholder.svg'" alt="Station Image" />
  </div>
  <div class="station-card-content">
    <div class="station-card-header">
      <div class="station-card-header-left">
        <div class="station-card-title">{{ station.name_en || station.name_ar || station.label }}</div>
        <div class="station-card-address">{{ station.address_en || station.address_ar }}</div>
      </div>
    </div>
    <div class="station-card-info-row">
      <span class="station-card-connectors d-flex align-items-center">
        <img src="megaplug/station-list/watt-green.svg" alt="Connectors" class="w-[14px] h-[14px]" />
        <span class="count">{{ connectors }} connectors</span>
      </span>
      <span class="station-card-power">
        <img src="megaplug/station-list/fast-charge-yellow.svg" alt="Power" class="w-[14px] h-[14px]" />
        <span class="range">{{ powerRange }}</span>
      </span>
    </div>
  </div>
</div> 