<div class="charging-history-list">
  <div class="charging-history-card" *ngFor="let item of [1,2,3,4]">
    <div class="card-header">
      <div class="card-title">Eyad hisham</div>
      <div class="card-price">15.12 EGP</div>
    </div>
    <div class="card-subtitle">Tesla Car</div>
    <div class="card-info-row">
        <img src="megaplug/station/charging-history/plug.svg" alt="evbox" class="w-[18px] h-[18px]" />
        <span class="card-info-text">EVBox Troniq 50 CCS2</span>
        <img src="megaplug/station/charging-history/charging.svg" alt="evbox" class="w-[18px] h-[18px]" />
      <span class="card-info-text">Charging 100% - 2500 KW</span>
    </div>
    <div class="card-date">2 Feb 2023 , 7:40 pm</div>
  </div>
</div>
