<div class="amenities-card">
    <div class="amenities-header">
      <span class="amenities-title">Station Amenities</span>
      <span class="amenities-count">(33 Amenity)</span>
    </div>
    <div class="amenities-list">
      <div class="amenity" *ngFor="let amenity of amenities">
        <div class="amenity-icon">
          <mat-icon style="color: #fff;">{{ amenity.icon }}</mat-icon>
        </div>
        <div class="amenity-label">{{ amenity.label }}</div>
      </div>
    </div>
  </div>