.mat-form-field {
  min-width: 180px;
}

form .mat-error {
  font-size: 0.85em;
}

.mt-10 {
  margin-top: 2.5rem;
}

.space-y-6 > * + * {
  margin-top: 1.5rem;
}

.egp-suffix {
  padding-right: 8px;
} 