swiper-container {
  --swiper-pagination-color: #27c281;
  --swiper-pagination-bullet-inactive-color: #fff;
  --swiper-pagination-bullet-size: 12px;
  --swiper-pagination-bullet-border-radius: 8px;
  --swiper-pagination-bullet-horizontal-gap: 8px;
  --swiper-pagination-bullet-active-width: 32px;
}