:host {
    display: block;
    height: 100%;
    position: relative;
}

.map-wrapper {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

:host ::ng-deep .map-wrapper,
:host ::ng-deep .map-container,
:host ::ng-deep .gm-style,
:host ::ng-deep .gm-style > div {
    width: 100% !important;
    height: 100% !important;
    min-width: 100% !important;
    min-height: 100% !important;
    max-width: 100% !important;
    max-height: 100% !important;
}

:host ::ng-deep .map-container > div {
    width: 100% !important;
    height: 100% !important;
}

google-map {
    width: 100%;
    height: 100%;
    display: block;
} 